/***** MAIN SETTING ******/
body, html {
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  margin: 0;
  user-select : none;
}

h2{
  margin: 0;
  text-align: center;
  font-size: 4vw;
  font-family: Montserrat, sans-serif;
}

a{
  text-decoration-line: none;
}



.explain{
  position: absolute;
  opacity: 0;
  color: white;
  font-size: 2vw;
  text-shadow: -1px 0 #00000088, 0 1px #00000088, 1px 0 #00000088, 0 -1px #00000088;
}

/***** HEADER ******/
header {
  width: 100%;
  background-color: #000000de;
}

.floating {
  color: aliceblue;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.floating a {
  color: aliceblue;
  text-decoration-line: none;
}

.title {
  grid-column: 1/4;
}

.lists {
  grid-column: 4/9;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 11; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 70%;
  font-size: 36px;
  margin-left: 5%;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  grid-column: 8/9;
  width: 100%;
  font-size: 40px;
  cursor: pointer;
  background-color: #00000000;
  color: white;
  border: none;
}

/** PAGE **/
.Page {
  padding-top: 10%;
  background-clip: padding-box;
  width: 100%;
  padding-bottom: 10%
}

#Living-title {
  font-size: 120px;
}



.Home_grid {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 210px 100px 50px 210px 100px
  /* grid-template-columns: 1fr 1fr 1fr */
  /* grid-template-columns: repeat(3, 1fr) */
  /* grid-template-columns: 200px 1fr */
  /* grid-template-columns: 100px 200px auto */
  
  /* grid-template-rows: 200px 200px 500px; */
  /* grid-template-rows: 1fr 1fr 1fr */
  /* grid-template-rows: repeat(6, 1fr) */
  /* grid-template-rows: 200px 1fr */
} 

.HOME_Data {
  font-weight: bold;
  font-size: 30px;
}

.Serve_Data{
  font-weight: bolder;
  font-size: 20px;
}

.Serve_Data2{
  font-weight: normal;
  font-size: 20px;
}

.Home-Picture {
  height: 160px;
}

.picture {
  height: 200px;
}

.item{
  font-size: 23px;
}

.Door_grid {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 210px 450px
}

  .Room_grid {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 210px 450px
  } 

  .Kitchen_grid {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 210px 540px  
  } 
    
  .Living_grid {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 210px 520px
  } 
/** media-query **/
@media (max-width: 1000px) {
  .floating{
      border-bottom: solid aliceblue;
  }
  .title img{
      display: none;
  }

  .lists{
      display: none;
  }
  h2{
      font-size: 17vw;
  }
  #SSCC.page{
      height: none;
  }
  .collage{
      display: none;
  }
  .ACT {
      display: block;
  }
  
  .about_grid {
      display: block;
      grid-template-columns: none;
      grid-template-rows: none;
      text-align: center;
      height:100%;
  }
  .study_grid {
      display: block;
      grid-template-columns: none;
      grid-template-rows: none;
      height:100%;
  }

  .study_grid p {
      font-size: 13pt;
      line-height: 1.3em;       
  }

  .card-container {
      margin: 10%;
  }
      .card-container p {
          font-size: 3vw;
      }
  .contact_grid {
      display: block;
      grid-template-columns: none;
      grid-template-rows: none;
      text-align: center;
  }
  .detail_contact{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
  }

      
  #Benefit p {
      font-size: 5vw;
      margin-bottom: 10%;
  }
  #Benefit h2 {
      margin-bottom: 10%;
  }
  .contact_way{
      margin-top: 10%;
  }
  .line-change {
      display: none;
  }

}
@media (min-width: 1000px) {
  #SSCC.page{
      height: 95%;
  }
  .openbtn{
      display: none;
  }
}

@media (min-width: 1460px) {
  .line-change {
      display: none;
  }
}